.dropdown {
  max-height: 0px;
  overflow: hidden;
  display: none;

  transition: max-height 0.3s;
}

.dropdownShow {
  max-height: max-content;
  display: block;
}
.category-wrap::-webkit-scrollbar {
  width: 3px;
}
.category-wrap::-webkit-scrollbar-thumb {
  background: #ddd;
}
