.shop-banner {
  background-image: url("../../Images/shopBanner2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.category-item:hover img {
  transform: scale(1);
}
.category-item:hover h1 {
  color: #e11e63;
}
